    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a
             href="/index.html" class="simple-text logo-normal">
            Dashboard
          </a>
        </div>

        
        <ul class="nav">
          <li>
            <a href="/map.html">
              <i class="tim-icons icon-pin"></i>
              <p>Location</p>
            </a>
          </li>
          <li>
            <a href="/vel.html">
              <i class="tim-icons icon-atom"></i>
              <p>Velocity</p>
            </a>
          </li>
          <li>
            <a href="/acc.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Acceleration</p>
            </a>
          </li>
        </ul>
        
        
      </div>
    </div>
